section(class='parallax')
	.parallax__body
		div(class='parallax__container _container')
			.parallax__label
				| Привет
			h1(class='parallax__title')
				| Это фиджитал
				br
				| день
		div(class='parallax__images images-parallax')
			.images-parallax__item
				.images-parallax__clouds
			.images-parallax__item
				.images-parallax__mountains
			.images-parallax__item
				.images-parallax__human
section(class='content')
	div(class='content__container _container')
		h2(class='content__title') Остальной контент сайта
		.content__text
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
			p Vero rem tenetur porro iusto excepturi ipsam sequi obcaecati 
			p temporibus magnam reiciendis facere esse voluptatibus recusandae 
			p sed dolorem optio aperiam sunt ipsum suscipit, accusamus aut nisi 
			p quam molestias expedita? Tempore animi sint molestiae nihil 
			p repellat totam magnam ipsam. Tempora quas veniam consequuntur 
			p aliquid. Molestias atque iusto fugiat odio explicabo deserunt 
			p amet, suscipit a asperiores. Voluptate reiciendis dolore 
			p explicabo? Obcaecati cupiditate debitis ullam in vitae eos 
			p neque, commodi nemo labore! Iusto quisquam est, molestias 
			p accusantium odio quo natus fuga explicabo nostrum similique 
			p quidem veritatis? Eaque dolorum, quidem dignissimos consectetur et at incidunt quisquam.